*{
    margin: 0;
    padding: 0;
}
body{
    /* background-color: rgb(178, 88, 88); */
}
section.nav{

    display: flex;
    justify-content: space-between;
    margin: 40px;
    border: 20px;
    /* align-items: center; */
    /* background-color: aqua; */
}
.first image{
    width: 20px;
}
.second {
    display: flex;
    align-items: center;
}

 .search-box {
    position: relative;
    display: inline-block;
}  

.search-box input {
    width: 260px;
    padding: 10px 40px 10px 15px;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 6px;
}

.search-box i {
    position: absolute;
    right: 12px;     
    top: 50%;        
    transform: translateY(-50%);
    font-size: 18px;
    color: #444;
}

.last{

    display: flex;
    justify-content: center;
    align-items: center;
    /* text-decoration: none;
    padding: 20px;
    border: 10px; */
}
.last div a{
    text-decoration: none;
    padding: 20px;
}