*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
body{

    background: url("https://media.istockphoto.com/id/1073648696/photo/scary-house-in-mysterious-horror-forest.jpg?s=612x612&w=0&k=20&c=DmUSqj6EXoAc-Ef-9EFLcKmq0LL1Do9gIh1QvBqwzS4=");
 background-size: cover;
 height: 100vh;
 background-position: center;
}
header{
    width: 100%;
    height:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;

    z-index: 99;
    box-shadow:0 0 10px #1e8241 ;
    background:rgba(42, 211, 141, 0.5);
}
#chk1{
    display: none;
}i{
    color: #fff;
    cursor: pointer;
}
header.logo{
    flex: 1;
    color: #fff;
    margin-left:50px ;
    text-transform: uppercase;
}
header .search-box{

    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: #f2f2f2;
    border-radius: 30px;
    color: gray;
    font-size: 16px;
    text-align: center;
}
.search-box button{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.9);
    background: rgb(15, 223, 15);
}
header ul{
    flex:2 ;
    display: flex;
    justify-content: space-evenly;

}
header ul li{
    list-style: none;

}
header ul li a{

    text-decoration: none;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
}
header ul li a:hover{
    border-bottom: 2px solid coral;
}
header .menu{
    font-size: 2.5cm;
    display: none;
}